<!--  songs list -->

<form>
  <input #criteria (input)="updateCriteria(criteria.value)" placeholder="Search" />
</form>

<ul class="songs"
    [@filterAnimation]="totalCanciones"
    [@close]="isOpen ? '' : 'closed'">
  <li class="song"
      *ngFor="let cancion of canciones"
      [class.selected]="cancion === selectedCancion"
      (click)="onSelect(cancion); close()">
    <div class="inner">
      <img src="{{cancion.caratula}}" />
      <!--
      <div class="container">
        <img src="{{cancion.caratula}}" />
          <button mat-button class="btn">
            <mat-icon mat-list-icon>play_arrow</mat-icon>
          </button>
      </div>
      -->
      <span>{{cancion.titulo}}</span>
      <span>{{cancion.autor}}</span>
      <span>{{cancion.titulo_album}}</span>
      <!--<span>{{cancion.fecha_publicacion | date :  "dd/MM/y"}}</span>-->
    </div>
  </li>
</ul>

<app-cancion [cancion]="selectedCancion"></app-cancion>

<!--<app-reproductor [cancion]="selectedCancion"></app-reproductor>-->

<div *ngIf="selectedCancion" class="reproductor-container">
  <div class="media-footer">
    <mat-toolbar color="secondary">
      <mat-toolbar-row class="media-action-bar">
        <button mat-button  [disabled]="isFirstPlaying()" (click)="changeSong(-1)">
          <mat-icon mat-list-icon>skip_previous</mat-icon>
        </button>
        <button mat-button (click)="stop()">
          <mat-icon mat-list-icon>stop</mat-icon>
        </button>
        <button mat-button *ngIf="this.audio.paused; else playingBlock" (click)="playPause()">
          <mat-icon mat-list-icon>play_arrow</mat-icon>
        </button>
        <ng-template #playingBlock>
          <button mat-button (click)="playPause()">
            <mat-icon mat-list-icon>pause</mat-icon>
          </button>
        </ng-template>
        <button mat-button [disabled]="isLastPlaying()"   (click)="changeSong(1)">
          <mat-icon mat-list-icon>skip_next</mat-icon>
        </button>
        <button mat-button (click)="shuffle = !shuffle" [style.background-color]="shuffle ? '#666' : ''">
          <mat-icon mat-list-icon>shuffle</mat-icon>
        </button>
        <button mat-button *ngIf="this.repeat_one; else repeatBlock" [style.background-color]="'#666'" (click)="updateRepeatState()">
          <mat-icon mat-list-icon>repeat_one</mat-icon>
        </button>
        <ng-template #repeatBlock>
          <button mat-button [style.background-color]="repeat ? '#666' : ''" (click)="updateRepeatState()">
            <mat-icon mat-list-icon>repeat</mat-icon>
          </button>
        </ng-template>

        <span><div id="time-slider-wrapper">
          {{currentTime.value}}
          <mat-slider class="time-slider" [value]="currentPercent.value" (input)="updateSliderValue($event)" step="1" min="0" max="100"></mat-slider>
          <div *ngIf="durationTimeLeft.value === durationTime.value; else timeLeftBlock">
            {{durationTime.value}}
          </div>
          <ng-template #timeLeftBlock>
            <div>{{durationTimeLeft.value}}</div>
          </ng-template>
        </div></span>

          <span><button mat-button id="volume-icon" *ngIf="this.audio.muted; else soundBlock" (click)="toggleMute()">
            <mat-icon mat-list-icon>volume_off</mat-icon>
          </button></span>
          <ng-template #soundBlock>
            <span><button mat-button (click)="toggleMute()">
              <mat-icon mat-list-icon>volume_up</mat-icon>
            </button></span>
          </ng-template>

        <div class="vertical-line"></div>
          <img id="thumbnail" src="{{selectedCancion.caratula}}" />
          <div id="side-content">
            <p>{{selectedCancion.titulo}}<br />{{selectedCancion.autor}}</p>
          </div>
          <!--<mat-slider class="volume-slider" min="0" step="1"></mat-slider>
          <div class="vertical-line"></div>
          <img id="thumbnail" src="{{selectedCancion.caratula}}" />
          <div id="side-content">
            <p>{{selectedCancion.titulo}}<br />{{selectedCancion.autor}}</p>
          </div>-->
</mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
