/* Songs List */

  /* TO DO:
        - Make list span to the lenght of the screen
        - Add song list categories as aligned headers 
  */
.songs-list {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  float: left;
  text-align: left;
  width: 100%;
}
  .songs-list li:focus {
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
    width: 60%;
  }
.songs-list li {
  cursor: pointer;
  left: 0;
  background-color: #EEE;
  margin: .4em;
  padding: .3em;
  height: 2em;
  line-height: 0em;
  border-radius: 4px;
}
.songs-list li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.songs-list li.selected {
  background-color: #ccc;
  color: white;
}
.songs-list li.selected:hover {
  background-color: #CFD8DC;
  color: white;
}
