/* Songs List */

.songs {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  float: left;
  text-align: left;
  width: 100%;
}

  .songs li:focus {
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
    width: 60%;
  }

  .songs li {
    cursor: pointer;
    left: 0;
    background-color: #EEE;
    margin: .4em;
    padding: .3em;
    height: 2em;
    line-height: 2em;
    border-radius: 4px;
  }

    .songs li:hover {
      color: #607D8B;
      background-color: #DDD;
      left: .1em;
    }

    .songs li.selected {
      background-color: #ccc;
      color: white;
    }

      .songs li.selected:hover {
        background-color: #CFD8DC;
        color: white;
      }

img {
  width: 2%;
  height: 2%;
  vertical-align: middle;
}

.container {
  position: relative;
  width: 2%;
  vertical-align: middle;
}

  .container img {
    width: 100%;
    height: 100%;
  }

.btn {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-25%, -15%);
  cursor: pointer;
}

span {
  margin-left: 30px;
}


/* Music Player */

.media-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 9%;
}

.media-action-bar {
  float: left;
  width: 100%;
  padding: 0px;
}

mat-icon {
  float: left;
  height: 28px !important;
  width: 28px !important;
  font-size: 28px !important;
}

.time-slider {
  float: right;
  display: inline-flex;
  
  min-width: 200px ;
  position: relative;
  bottom: -10px;
  margin-left: 20px;
  margin-right: 20px;
}

#volume-icon {
  position: relative;
  float: left;
  display: inline;
}

.volume-slider {
  display: none;
}



.vertical-line {
  border-left: 2px solid grey;
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
}

.spacer {
  flex: 1 1 auto;
}

.media-footer {
  height: 60px;
  padding-inline: 5px;
}

.vertical-line {
  padding: 10px;
  height: 30px;
}

.toolbar-detail {
  display: inline-flex;
}



#thumbnail-wrapper {
  float: left;
}

#thumbnail {
  float: left;
  width: 45px;
  height: 45px;
  position: relative;
  top: 30px;
}

#side-content {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
