  <nav *ngIf="cancion" [@flyInOut]="'in'" class="insert-container">
  <hr />
  <h2 class="song-title"><b>{{cancion.titulo | uppercase }}</b></h2>
  <figure class="image-container">
    <img class="image" src={{cancion.caratula}} alt="No se ha podido cargar la foto">
    <div class="overlay">
      <div class="overlay-text"><i>{{cancion.descripcion}}</i></div>
    </div>
    <figcaption class="caption"><b>by </b> <b>{{cancion.autor | uppercase }}</b></figcaption>
  </figure>
  <ul class="song-details-list">
    <li><b> Album:</b><br />{{cancion.titulo_album}}</li>
    <li><b>Released by:</b><br />{{cancion.discografica}}</li>
    <li><b>Release date:</b><br />{{cancion.fecha_publicacion | date :  "dd/MM/y"}}</li>
    <li><b>Genre:</b><br />{{cancion.genero}}</li>
    <li><b>Style:</b><br />{{cancion.estilo}}</li>
  </ul>
  <p *ngFor="let hashtag of cancion.hashtag; let i = index" class="rounded-corner-box">#{{cancion.hashtag[i]}}</p>
  <hr />
</nav>
